/* ----------------------
  ADMIN TABLE
---------------------- */
.cce-admin__table {
  position: relative;
  border: none;
  border-radius: 0;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
}
.cce-admin__table__container {
  height: 0;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  overflow-y: auto;
  scroll-behavior: smooth;
  position: relative;
  background: transparent;
  scrollbar-width: thin;
  scrollbar-color: rgba(170, 170, 170, 0.15) #121626;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #121626;
    border-left: 1px solid #23283c;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(170, 170, 170, 0.15);
    &:hover {
      background: rgba(170, 170, 170, 0.3);
    }
  }
}
.cce-admin__table__container__table {
  min-height: 500px;
  height: 100%;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}
.cce-admin__table__container__table--flex-end {
  justify-content: flex-end;
}
.cce-admin__placeholder {
  display: flex;
  height: 0;
  flex: 1;
}
.cce-admin__table-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cce-admin__table-header {
  overflow: hidden;
  padding: 1px 0;
  border-bottom: 1px solid $dark-trade-colorDivider;
  margin: 0 0 1px 0;
  font-family: $trade-fontFamily;
}
.cce-admin__table-table {
  width: auto;
  min-width: 100%;
  border-spacing: 0;
  padding: 0 3px;
  background: transparent;
}
.cce-admin__table-table--align-bottom {
  // height: 100%;
}
.cce-admin__table-body {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 0;
  height: 0;
}
.cce-admin__table-body--flex {
  display: flex;
}
.cce-admin__table-th {
  color: $dark-trade-colorSubHeaderText;
  font-weight: 400;
  text-align: left;
  padding: 2px 10px;
  font-size: 13px;
}
.cce-admin__table-tr {
  transition: all .3s;
  cursor: pointer;
  &:hover {
    background-color: $dark-trade-colorBgActive;
    .cce-admin__table-activate {
      color: $dark-trade-colorActive;
    }
  }
}
.cce-admin__table-td,
.cce-admin__table-th {
  width: 1%;
}
.cce-admin__table-td {
  font-weight: 400;
  text-align: left;
  padding: 1px 10px;
  font-size: 12px;
  height: auto;
  border: none;
  word-break: keep-all;

  .cce-color__low,
  .cce-color__high {
    position: relative;
    z-index: 2;
  }

  &.cce-admin__table-td--marked-money {
    text-align: right;
    white-space: nowrap;

    > span:last-of-type {
      display: inline-block;
      width: 30px;
      text-align: left;
    }
  }
}
.cce-admin__table-td--tooltip {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 85px
}
.cce-admin__table--fixed {
  table {
    background: transparent !important;
    table-layout: fixed;
  }
  thead {
    tr {
      display: block;
      position: relative;
    }
    th {
      &:focus {
        outline: none;
      }
    }
  }
  tbody {
    display: block;
    overflow: auto;
    td {
      height: auto !important;
    }
    tr:not(:last-child) {
      border: none !important;
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 6px;
      margin: 5px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: rgba(170, 170, 170, 0.15);
    }
  }
}
.cce-admin__table-bar-wrapper {
  position: relative;
  text-align: right;
}
.cce-admin__table-bar-ask,
.cce-admin__table-bar-bid {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -12px;
  z-index: 1;
  transition: all 1s;
}
.cce-admin__table-bar-ask {
  background: $dark-trade-colorBarAsk;
}
.cce-admin__table-bar-bid {
  background: $dark-trade-colorBarBid;
}
.cce-admin__datatable {
  .table {
    background-color: transparent;
    th {
      color: $dark-trade-colorSubHeaderText !important;
      font-size: 12px !important;
      font-family: $trade-fontFamily;
      .icon {
        color: $dark-trade-colorSubHeaderText !important;
      }
    }
    tr:not(.datatable__progress) th {
      padding: 7px 7px !important;
    }
    tr {
      height: auto;
    }
    thead tr:first-child {
      border-color: $dark-trade-colorDivider;
      background-color: transparent;
    }
    tbody {
      td {
        padding: 7px !important;
        height: auto;
        &:nth-child(1) {
          width: 65px;
        }
      }
      tr {
        height: auto;
        transition: all .3s !important;
        background-color: $transparent-black-6;
        &:hover {
          background-color: $transparent-black-5 !important;
        }
      }
      tr:not(:last-child) {
        border-bottom: 1px solid $dark-trade-colorDivider !important;
      }
    }
  }
}
