/* ----------------------
  TRADE CHARTS
---------------------- */
.cce-trade__charts-toggle {
  display: none;
};

.cce-trade__depth-chart {
  border-top: 8px solid $dark-trade-colorDivider;
  margin-bottom: 5px;
}

.cce-trade__depth-chart-title {
  display: none;
}

.cce-trade__trading-view,
.cce-trade__highcharts {
  @include positionAbsoluteZero;
  background: $dark-trade-colorContentBg;
}

.cce-trade__trading-view {
  iframe {
    background: $dark-trade-colorContentBg;
  }
}

.cce-trade__highcharts {
  .highcharts-legend-item {
    @include fontFamilyTrade;
  }
}
