/* ----------------------
  MAIN
---------------------- */
body.cee--no-scroll::-webkit-scrollbar {
  display: none;
}

.cce-trade__logo {
  // width: auto;
  flex-grow: 1;
  height: 36px;
  width: 36px;
  margin: 0 !important;
  // background-image: url('#{$light-img-trade-logo}');
  background-repeat: no-repeat;
  background-size: contain;
  img {
    max-height: 100%;
    // display: none;
  }
}

.cce-color__low {
  color: $light-trade-colorLow;
}

.cce-background__low {
  background: $light-trade-colorLow;
}

.cce-color__high {
  color: $light-trade-colorHigh;
}

.cce-background__high {
  background: $light-trade-colorHigh;
}

.cce-color__warning {
  color: $light-trade-colorWarning;
}

.cce-trade__opacity {
  opacity: 0.45;
}

.cce-trade__bar-icons {
  height: 36px;
  border-left: 1px solid $transparent-black-6;
}

.cce-trade__bar-icons-item {
  margin-left: 10px !important;
  width: 36px;
  height: 36px !important;
}

.cce-trade__bar-icons-logout {
  margin-left: 15px !important;
}

.cce-trade__link {
  color: $light-trade-colorHigh;
  text-decoration: none;
}

.cce-trade__no-data {
  opacity: 0.6;
  @include fontFamilyTrade;
  color: $light-trade-colorSubHeaderText;
  font-size: 12px;
}

.cce-trade__btn.btn {
  color: $light-trade-colorBtnText;
  @include fontFamilyTrade;

  .progress-circular {
    position: absolute;
    left: 10px;
  }
}

.btn--small {
  font-size: 12px;
  height: 28px;
}

.list--dense .list__tile:not(.list__tile--avatar) {
  height: 30px;
}

.bottom-nav {
  background-color: $light-trade-colorMainBg;
  .btn {
    min-width: 60px;
    .btn__content {
      color: $dark-normal-links-on-dark;
    }
    &.btn--active {
      .btn__content {
        color: $dark-active-links-on-dark;
      }
    }
  }
}
  