/* ----------------------
  TRADE FAVORITES
---------------------- */
.cce-trade__favorites {
  height: 100%;
  overflow: hidden;
  @include flexAlignCenter;
  flex: auto;
}

.cce-trade__favorites-row {
  @include flexAlignCenter;
  flex: none;
}

.cce-trade__favorites-item {
  @include flexAlignCenter;
  flex-wrap: wrap;
  float: left;
  margin: 0 0 0 8px;
  height: 100%;
  min-width: 85px;
}

.cce-trade__favorites-item-label {
  font-size: 13px;
  color: $light-trade-colorSubHeaderText;
  margin: 0 0 -3px 0;
  @include fontFamilyTrade;
}

.cce-trade__favorites-item-value {
  position: relative;
  font-size: 15px;
  font-weight: 400;
}

.cce-trade__favorites-item-arrow {
  position: absolute;
  top: 6px;
  left: -14px;
  font-size: 13px;
}

.cce-trade__favorites-item-value--sub,
.cce-trade__favorites-item-value--currency {
  position: relative;
  top: -1px;
  margin: 0 0 0 5px;
  font-size: 12px;
  opacity: 0.8;
}

.cce-trade__favorites-item-value--currency {
  color: $light-trade-colorActive;
}
