// Locally override your config. This file is ignore by git, so you can go crazy here.
var fs = require('fs')

module.exports = {
  // PROJECT_ID: '"31900b3c-f4b5-4cfc-a512-b14392e447ca"',
  // PROJECT_SETTINGS: JSON.stringify(JSON.parse(fs.readFileSync('./config/projects/xbase/project-settings.json', 'utf8'))),
};
