/* ----------------------
  ACTIONS
---------------------- */
.cce-account__actions {
  padding: 0 15px 1px 15px;
  background: $exchange-gray--1;
  // height: 80px;
  @include media(sm) {
    padding: 15px;
  }
  .icon--selection-control {
    color: $simple-white-1;
  }
}

.cce-account__actions-search {
  max-width: 300px;
  margin-top: -10px;
}

.cce-account__actions-hide {
  max-width: 230px;

  .checkbox {
    padding: 14px 0 0 0;

    label {
      margin-top: -2px;
      color: $exchange-green-2 !important;
    }
  }
}
  