/* ----------------------
  MAIN
---------------------- */
.cce-account {
  //
}

.cce-account__logo {
  margin: 15px 0 25px 25px;
}

.cce-account__color-primary {
  background: $exchange-green-2 !important;
  color: $exchange-green-2 !important;
}

.cce-account__navigation-list-item,
.cce-account__horizontal-tabs-list-item,
.cce-account__table thead,
.cce-account__actions,
.title {
  font-family: $account-fontFamily;
}

.cce-account__navigation-list-item {
  transition: all 0.3s ease-in-out;

  .list__tile__title {
    color: $exchange-gray-2 !important;
  }

  .list__tile__content {
    font-size: 14px;

    .icon {
      font-size: 18px !important;
    }

    .cce-account__navigation-list-icon--absolute {
      position: absolute;
      right: -20px;
      font-size: 13px !important;

      @include media(lg_med) {
        right: -10px;
      }
    }
  }

  .list__tile--link {
    &:hover {
      background: $exchange-green-transparent-4 !important;
    }
  }
  &.list__tile--link {
    &:hover {
      background: $exchange-green-transparent-4 !important;
    }
  }
  .list__tile--active {
    background: $exchange-green-transparent-4;
  }
}
.cce-account__horizontal-tabs-list {
  display: flex;
  background: none;
  border-bottom: 1px solid $exchange-green-transparent-4;
}
.cce-account__horizontal-tabs-list-item {
  transition: all 0.3s ease-in-out;
  &:first-child {
    .list__tile--link {
      padding-left: 0;
    }
  }
  &:last-child {
    .list__tile--link {
      padding-right: 0;
    }
  }
  .list__tile__title {
    color: $exchange-gray-2;
  }
  .list__tile__content {
    font-size: 15px;
    justify-content: flex-start;
  }
  .list__tile--link {
    background: none;
    &:hover {
      background: none;
    }
  }
  &.list__tile--link {
    &:hover {
      color: $exchange-green-4;
      .list__tile__title {
        color: $exchange-green-4;
      }
      .list__tile__content {
        border-bottom: 2px solid $exchange-green-4;
        margin-bottom: -2px;
      }
    }
  }
  .list__tile--active {
    color: $exchange-green-4;
    .list__tile__title {
      color: $exchange-green-4;
    }
    .list__tile__content {
      margin-bottom: -2px;
      border-bottom: 2px solid $exchange-green-4;
    }
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $simple-white-0 inset;
  -webkit-text-fill-color: $exchange-green-2 !important;
}
input:-webkit-autofill {}
