.cce-auth__toolbar {
  @include backgroundTransparent;
  display: none;

  .toolbar__content {
    height: 55px !important;

    .cce-account__logo {
      position: relative;
      width: 200px;
      height: 100%;
      margin: 0;
      padding: 7px;
      box-sizing: border-box;

      img {
        max-height: 100%;
      }
    }
  }
}

.cce-auth__content {
  padding: 0!important;
  .cce-auth-bg-image {
    background-size: cover;
    @include fullSize;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
  }

  .content--wrap {
    padding-top: 5%;

    .container {
      max-width: 500px;
      @include flexCenterCenter;
      flex-direction: column;
      z-index: 999;

      .main-logo {
        width: 50%;
        margin-bottom: 50px;
        z-index: 999;

        img {
          max-width: 100%;
        }
      }

      .flex {
        width: 100%;
        -webkit-box-shadow: 0 8px 10px -7px rgba(0, 0, 0, 0.3);
        -moz-box-shadow:0 8px 10px -7px rgba(0, 0, 0, 0.3);
        box-shadow: 0 8px 10px -7px rgba(0, 0, 0, 0.3);
        /*border: 1px solid rgba(0, 0, 0, 0.07);*/
        border-radius: 5px;
        padding: 30px;
        background-color: $simple-white-0;
        z-index: 999;

        .btn {
          margin: 0;
          padding: 0 15px;
          background-color: $exchange-green-2;
          color: $simple-white-0;
        }

      }
    }
  }
}
